
header 
{
margin-left: 100px;
background-color: rgb(168, 151, 188);
border-style: solid;
border-color: #6b1789;
height: 70px;
width: 85%;
border-radius: 15px;
}

nav 
{
    max-width: 60%;
    line-height: 70px; 
    display: inline;  
    margin: 250px;

}



.log-in
{
    max-width: 20%;
   line-height: 35px;
   margin-top:15px;
   margin-right: 15px;
   display: inline;
   float: right;
   background-color: rgb(168, 151, 188);
border-style: solid;
border-color: #6b1789;
border-radius: 15px;

}

.log-in:hover{
    background-color: pink;
    transition:0.5s;
}

.logo 
{
    float: left;
    max-width: 20%;
    line-height: 70px;
    display:inline;
    margin-left: 20px;

}

body 
{
    background-image: linear-gradient(pink, rgb(110, 68, 110))
}

.text-center{
    text-align:center;
}

article 
{
    border-radius: 15px;  
background-color: rgb(168, 151, 188);
border-style: solid;
border-color: #6b1789;



}

section {
    border-radius: 15px;
    margin-top: 20px;  
    background-color: rgb(168, 151, 188);
    border-style: solid;
    border-color: #6b1789; 
  
   
}


main 
{
width:60%;
display:inline-block;

}

aside {
    width: 35%;
    background-color: rgb(168, 151, 188);
    border-style: solid;
    border-color: #6b1789;
    border-radius: 15px;
    border-radius: 15px;
    margin: 20px;
display: inline-block
}

footer{
    height: 70px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    background-color: rgb(168, 151, 188);
    border-style: solid;
    border-color: #6b1789;
    border-radius: 15px;
    border-radius: 15px;

}

.pink_button {
    height: 35px;;
    margin: 15px;
    background-color: rgb(168, 151, 188);
    border-style: solid;
    border-color: #6b1789;
    border-radius: 15px;
   
}
.pink_button:hover{
    background-color: pink;
    transition:0.5s;
}